/*==========================================
    section title
==========================================*/
.section-title {
    text-align: center;
    margin-bottom: 60px;
    h2 { 
        color: $base-color;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 11px;
        margin-top: -10px;
        &.add-space {
          margin-bottom: 22px;
        }
    }
    p {
        margin: 0 auto;
        font-size: 16px;
        color: #666;
        line-height: 26px;
        margin-bottom: -3px;
        max-width: 720px;
        
    }
}
.c-white {
    color: $white;
}

@media only screen and (max-width: 991px) {
  .row.reorder-xs {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    direction: rtl; }
  .row.reorder-xs > [class*="col-"] {
    -ms-transform: rotate(-180deg);
    /* IE 9 */
    -webkit-transform: rotate(-180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    direction: ltr; } }


@media only screen and (min-width: 992px) and (max-width: 1199px) {
.row.homepage-about-xs {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  direction: rtl; }
.row.homepage-about-xs > [class*="col-"] {
  -ms-transform: rotate(-180deg);
  /* IE 9 */
  -webkit-transform: rotate(-180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-180deg);
  direction: ltr; } }


/*==========================================
    Preloader
==========================================*/
.sec{
  background-color: #fff;
  height:100vh;
  width:100%;
  position:fixed;
  z-index: 999;
}
.loader{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.circle{
  height:10px;
  width:10px;
  background-color: $base-color;
  border-radius:50%;
  margin:4px;
  display:inline-block;
}
.item0{
  animation: 1s pulse0 infinite;

}
.item1{
  animation: 1s pulse1 infinite;

}
.item2{
  animation: 1s pulse2 infinite;
}
@keyframes pulse0{
  0%{
    transform:scale(1);
  }
  10%{
    transform:scale(2);
  }
  43.3%{
    transform:scale(1);
  }
  76.6%{
    transform:scale(1);
  }
  100%{
    transform:scale(1);
  }
}
@keyframes pulse1{
  0%{
    transform:scale(1);
  }
  10%{
    transform:scale(1);
  }
  43.3%{
    transform:scale(2);
  }
  76.6%{
    transform:scale(1);
  }
  100%{
    transform:scale(1);
  }
}
@keyframes pulse2{
  0%{
    transform:scale(1);
  }
  10%{
    transform:scale(1);
  }
  43.3%{
    transform:scale(1);
  }
  76.6%{
    transform:scale(2);
  }
  100%{
    transform:scale(1);
  }
}


/*==========================================
    scroll to top button
==========================================*/
.scroll-to-top {
    position: fixed;
    right: 50px;
    bottom: 80px;
    display: inline-block;
    z-index: 9;
    width: 40px;
    height: 40px;
    background: #052157;
    border: 2px solid $white;
    text-align: center;
}
.scroll-to-top a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    padding: 2px 0 0px 0;
    display: inline-block;
}
.scroll-to-top a i {
  color: $white;
}
